.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.btn,
.mobileLinks {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .btn {
    display: block;
    cursor: pointer;
  }

  .mobileLinks {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    background-color: rgba(22, 23, 16, 0.755);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    justify-content: center;
    gap: 10px;
  }
}
.menu {
  background-color: #1d1d23;
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  .mobileLinks {
    position: absolute;
    top: 133px;
    height: 100vh;
    right: -75%;
  }
}
